name: Deploy Static HTML to Azure Static Web App

on:
  push:
    branches:
      - main # or your default branch name

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          lfs: true

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for GitHub integrations
          action: "upload"
          # The app_location is the path to your static HTML files within the repository. 
          # For a basic HTML page at the root, use "/"
          app_location: "/" 
          # The api_location is not needed for a purely static HTML site
          api_location: ""
          # The output_location is the directory where build artifacts are placed (not applicable here)
          output_location: "" 

